<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>PEJ/Bilan</title>
</head>
<body>

<div layout:fragment="content">
    <!-- page content -->
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">


            <div class="clearfix"></div>
            <div th:with="notifyMessages=${session[T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
                <div th:each="msg : ${notifyMessages}" class="alert alert-success alert-dismissible fade in"
                     th:classappend="'alert-'+${#strings.toLowerCase(msg.type)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <strong th:text="${msg.text}"></strong>
                </div>
                <span th:if="${notifyMessages}" th:remove="all"
                      th:text="${session.remove(T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 data-th-text=" 'FICHE DE FINANCEMENT DU CANDIDAT: ' + ${candidat.getIdentite()} "></h2>
                            <div></div>
                            <h2 data-th-text=" 'COUT TOTAL: ' + ${prixTotal} + ' FCFA' "></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <!-- <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                  </ul>
                                </li> -->
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                    <a href="#" class="link btn btn-success btn-xs"
                                            th:href="@{'/pej/financement/add/' + ${idCandidat}}">
                                            <i class="fa fa-plus"></i> AJOUTER </a>
                            </div>
                            <div class="table-responsive">
                                <table  class="table table-striped table-bordered display nowrap"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr class="headings">
                                        <th></th>
                                        <th class="column-title">NATERIEL</th>
                                        <th class="column-title">FOURNISSEUR</th>
                                        <th class="column-title">NUMERO FOURNISSEUR</th>
                                        <th class="column-title">PRIX UNITAIRE</th>
                                        <th class="column-title">QUANTITE</th>
                                        <th class="column-title">TOTAL</th>

                                        <th class="column-title no-link last"><span class="nobr">ACTION</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr data-th-each="financement : ${financements}" class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records"/>
                                        </td>
                                        <td class=" " data-th-text="${financement.materiel}"></td>
                                        <td class=" " data-th-text="${financement.fournisseur}"></td>
                                        <td class=" " data-th-text="${financement.numeroFournisseur}"></td>
                                        <td class=" " data-th-text="${financement.prixUnitaire}"></td>
                                        <td class=" " data-th-text="${financement.quantite}"></td>
                                        <td class=" " data-th-text="${financement.total}"></td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <a class="btn btn-xs btn-primary"  th:href="@{'/pej/financement/delete/' + ${financement.idfichefinancement}}"><i class="fa fa-plus" data-toggle="tooltip" title="Modifier"></i> SUPPRIMER</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="row" style="padding-top:5px;">-->
                                <!--<div class="pull-left">-->
                                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                                        <!--<label data-th-text=" 'Total :' +  ${total}">-->
                                        <!--</label>-->
                                        <!--<select id="page-select"  class="form-control"-->
                                        <!--&gt;-->
                                            <!--<option data-th-each="listOfPage : ${listOfPages}" th:text="${listOfPage}"-->
                                                    <!--th:value="${listOfPage - 1}"></option>-->
                                        <!--</select>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--<div class="pull-right">-->
                                    <!--<button style="margin-left: 8px;"-->
                                            <!--id="candidat-previous-page"-->
                                            <!--th:if="${hasPrevious == 'true'}"-->
                                            <!--class="btn btn-info"><i class="fa fa-plus"></i> PRECEDENT</button>-->
                                    <!--<button style="margin-left: 8px;"-->
                                            <!--id="candidat-next-page"-->
                                            <!--th:if="${hasNext == 'true'}"-->
                                            <!--class="btn btn-success">-->
                                        <!--<i class="fa fa-check-square-o"></i> SUIVANT</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- /page content -->
</div>

<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>


</body>
</html>
