<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
  <title>PEJ/Cabinet</title>
</head>
<body>
  <div layout:fragment="content">

    		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/



		    /*]]>*/
  </script>
                 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>EDITION DES BILANS</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">RECHERCHER!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
			<div th:with="notifyMessages=${session[T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
				  <div th:each="msg : ${notifyMessages}"  class="alert alert-success alert-dismissible fade in" th:classappend="'alert-'+${#strings.toLowerCase(msg.type)}" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
					<strong th:text="${msg.text}"></strong>
				  </div>
				  <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
			</div>
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <!--div class="x_title">
                    <h2>GROUPEMENT D'APPRENANTS</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div-->

                  <div class="x_content">

					<form id="frmBilan"  novalidate="true" class="frmPej form-horizontal form-label-left" action="#" th:action="@{'/pej/bilan/'+ ${formation.idformation}}" th:object="${objBilan}" method="post">
                       <div class="form-group" style="display:none;">
                            <label for="lieuformation" class="control-label col-md-3 col-sm-3 col-xs-12">LIEU FORMATION</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="lieuformation" th:field="*{lieuformation}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div> 

                       <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dateformation">DATE FORMATION <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="dateformation" name="dateformation" class="select2_single form-control" th:field="*{dateformation}" >
                                   <option data-th-each="datesFormation : ${datesFormations}"
                                           th:text="${#dates.format(datesFormation,'dd/MM/yyyy')}"
                                           th:value="${#dates.format(datesFormation,'dd/MM/yyyy')}"></option>
	                           </select>
                            </div>
                        </div>



                         <div class="item form-group">
                            <label for="lieuformation" class="control-label col-md-3 col-sm-3 col-xs-12">LIEU FORMATION</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="lieuformation" th:field="*{lieuformation}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div> 
                       <div class="item form-group">
                            <label for="nbHommeAttendu" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE D'HOMMES ATTENDUS</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbHommeAttendu" th:field="*{nbHommeAttendu}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                         <div class="item form-group">
                            <label for="nbFemmeAttendu" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE DE FEMMES ATTENDUS</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbFemmeAttendu" th:field="*{nbFemmeAttendu}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="nbHommeAttendu" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE D'HOMMES PRESENT</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbHommePresent" th:field="*{nbHommePresent}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="nbFemmePresent" class="control-label col-md-3 col-sm-3 col-xs-12">NBRE DE FEMMES PRESENT</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbFemmePresent" th:field="*{nbFemmePresent}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>

                         <div class="item form-group">
                            <label for="nbHommeAbsent" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE D'HOMMES ABSENT</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbHommeAbsent" th:field="*{nbHommeAbsent}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="nbFemmeAbsent" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE DE FEMMES ABSENTES</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbFemmeAbsent" th:field="*{nbFemmeAbsent}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="nbNourice" class="control-label col-md-3 col-sm-3 col-xs-12">NOMBRE DE NOURICES</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nbNourice" th:field="*{nbNourice}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>

                        <div class="item form-group" style="display:none;">
                            <label for="idgroupe" class="control-label col-md-3 col-sm-3 col-xs-12">ID Bilan</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="idbilan" th:field="*{idbilan}"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>

                        <div class="item form-group" style="display:none;">
                            <label for="idgroupe" class="control-label col-md-3 col-sm-3 col-xs-12">Formation</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" th:id="formation" th:name="formation" th:value="${formation.idformation}" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>

                        <!--<div class="item form-group" style="display:none;">-->
                            <!--<label for="idgroupe" class="control-label col-md-3 col-sm-3 col-xs-12">Cooperative</label>-->
                            <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                <!--<input type="text" th:id="cooperative" th:name="cooperative"  th:value="${formation.idformation}" class="form-control col-md-7 col-xs-12"/>-->
                            <!--</div>-->
                        <!--</div>-->

					    <div class="ln_solid"></div>
					    <div class="form-group">
					      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
					        <button type="reset" class="btn btn-primary">ANNULER</button>
					        <button type="submit" class="btn btn-success">ENREGISTRER</button>
					      </div>
					    </div>

					  </form>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /page content -->
  </div>

  <footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
  </footer>


    <!-- /validator -->
</body>
</html>
